.sidebar {
  width: 240px;
  /* height: calc(100vh - 45px); */
  height:100vh;
  position: fixed;
  top: 30px;
  left:0;

  background: linear-gradient(180deg, #1e1b4b, #2e1065); 

  padding: 80px 15px ;
  border-right: 1px solid rgba(255,255,255,0.08);
  box-shadow: 4px 0 20px rgba(0,0,0,0.4);
}

.sidebar button {
  display: flex;
  align-items: center;
  gap: 12px;

  width: 100%;
  padding: 11px 14px;

  border: none;
  border-radius: 8px;

  background: transparent;
  color: #94a3b8;

  font-size: 14px;
  cursor: pointer;
  transition: all 0.25s ease;
  margin-top: 20px;
}

/* ACTIVE */
.sidebar button.active {
  background: linear-gradient(135deg, #a78bfa, #7c3aed);
  color: white;

  box-shadow: 0 0 15px rgba(167,139,250,0.6);
}

/* HOVER */
.sidebar button:hover {
  background: rgba(167,139,250,0.15);
  color: #ddd6fe;
}
.sidebar::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background: linear-gradient(to bottom, #8b5cf6, transparent);
}