.login-page {
  display: flex;
  height: 100vh;
}

/* LEFT SIDE */
.login-left {
  flex: 1;
  background: #0f172a;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.login-left h1 {
  font-size: 32px;
  margin-bottom: 15px;
}

.login-left p {
  color: #cbd5e1;
  line-height: 1.5;
}

/* RIGHT SIDE */
.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */
.login-card {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-card h2 {
  text-align: center;
}

.login-card input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-card button {
  background: #3b82f6;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-card span {
  color: #3b82f6;
  cursor: pointer;
}